<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Century Codes</h1>
        <tablem>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{name}}</td>
                    <td>{{code}}</td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>