<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first page</title>
    <link rel="stylesheet" href="style.css">
   
</head>
<body>
    <center>
        <h1 >SELECTION TAG</h1>
        <select name="" id="" disabled="disabled">
            <option value="">---chouse your option---</option>
            <option value="">india</option>
            <option value="">USA</option>
            <option value="">UK</option>
            <option value="">CANADA</option>
        </select>
   
    </center>
</body>
</html>