<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>login form</h1>
        <form action="/loginto" method="POST">
            <label >NAME:</label>
            <input type="text" placeholder="Enter name" name="name"><br><br>
       
            <label >E-MAIL:</label>
            <input type="text" placeholder="Enter E-MAIL" name="email"><br><br>
            <label >PASSWORD:</label>
            <input type="text" placeholder="Enter PASSWORD" name="password"><br><br>
    
            <input type="submit" value="Log-in" name="submit">
        </form>
    </center>
    
</body>
</html>